
 /* :root{
    
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;


    
    --main-txt-cl:#212121;
    --second-cl:#757575;
    --blue-cl: #2196F3;
    --main-section-cl: #FFFFFF;
    --soc-link-cl:#AFB1B8;
   

    
    --main-section-bg-cl: #2F303A;
    --portfolio-btn-cl: #F5F4FA;
    --overlay-cl: rgba(33, 150, 243, 0.9);

    
    --header-border-cl: #ECECEC;
    --portfolio-border-cl:#EEEEEE;

    --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }  */

 /* body{
    color: var(--main-txt-cl);
    font-family: var(--main-font);
} */



/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
} */

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
       
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } */


        /* HEADER */

/* 
.header {
    border-bottom: 1px solid var(--header-border-cl);
}

.header-container {
    display: flex;
    margin-right: auto;
} */

/* .nav {
    display: flex;
    align-items: center;
} */
/* 
.logo {
    display: block;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    padding-top: 25px;
    padding-bottom: 24px;
    color: #2196F3;
    margin-right: 93px;
}

.logo__dark {
   color: var(--main-txt-cl); 
}

.logo__light {
    color: var(--main-section-cl);
} */
/* 
.nav__list{
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav__link  {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding-top: 33px;
    padding-bottom: 31px;
    color: currentColor;

   transition: color var(--time-function)
    
}
.nav__link--active::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: var(--blue-cl);
    border-radius: 2px;
    
    
    transition: color var(--time-function);
 }

.nav__link--active {
    color: var(--blue-cl); 
}

.nav__link:hover,
.nav__link:focus {
    color: var(--blue-cl);
} */
/* 
.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
 }

.contacts__icon {
    fill: var(--second-cl);
    transition: fill var(--time-function);
}

.contacts__link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--second-cl);
    letter-spacing: 0.02em;
    padding-top: 33px;
    padding-bottom: 31px;
    align-items: center;
    gap: 10px;
    
    transition: color var(--time-function), fill var(--time-function);
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--blue-cl);
    fill: var(--blue-cl);
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
    fill: var(--blue-cl);
} */


/* HERO SECTION*/


/* .section {
    padding: 94px 0;
} */


/* .hero{
    
    background-color: var(--main-section-bg-cl);
    text-align: center;
    margin: 0 auto;
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
    url(../images/images-main/main-sect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
    margin-bottom: 35px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-section-cl);
    margin-left: auto;
    margin-right: auto;
} */

/* .hero__btn {
    color: var(--main-section-cl);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--blue-cl);
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
} */


    /*ADVANTAGES*/


/* .advantages{
    padding-bottom: 0;
}

.section__title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    margin-top: 0%;
}

.advantages__list {
    display: flex;
    gap: 30px;
}

.advantages__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--portfolio-btn-cl); 
    border-radius: 4px;
   margin-bottom: 30px;
   }

.advantages__title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages__text {
    font-size: 14px;
    line-height: calc(24 /14);
    letter-spacing: 0.03em;    
    color: var(--second-cl);
} */

    /*  WORK  */

/* 
.work{
    display: flex;
    gap: 30px;
}


.work__item{
    position: relative;
}

.work__desc{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.desc-work__title {    
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-section-cl);
} */


    /*   TEAM   */


/* 
.team{
    background-color: var(--portfolio-btn-cl);
}

.team__list{
    display: flex;
    gap: 30px;
}

.team__item {
    background-color: var(--main-section-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 4px 4px;
 }

.team__meta {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

 .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
 }
 
  .team__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-cl);
   } */


   /*   SOCIALS   */
  
/* 
  .socials {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--main-section-cl);
    border-radius: 50%;
    transition: background-color var(--time-function);
   }

  .socials__icon {
    fill: var(--soc-link-cl);
    
    transition:  background-color var(--time-function), fill var(--time-function);
  }
  .socials__link:hover,
  .socials__link:focus {
    background-color: #2196F3;
  }

  .socials__link:hover .socials__icon,
  .socials__link:focus .socials__icon {
    fill: var(--main-section-cl);
  } */


  /*  OUR CLIENTS   */

  
  /* .clients__list{
    display: flex;
    gap: 30px;
    justify-content: center;
   
  }

  .clients__item {
    width: 170px;
    height: 92px;
  }


  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--soc-link-cl);
    border-radius: 4px;

    transition: border-color var(--time-function), fill var(--time-function);
  }

  .clients__icon{
    fill: var(--soc-link-cl);
    transition: fill var(--time-function);

  }
  
  .clients__link:hover .clients__icon,
  .clients__link:focus .clients__icon {
    fill: var(--blue-cl);
  }

  .clients__item:hover .clients__link,
  .clients__item:focus .clients__link{
    border-color: var(--blue-cl);
 }
 */

    /*       FOOTER      */
    
/* 
  .footer {
    background-color: var(--main-section-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
  }

  .footer__conteiner {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

  .footer__list {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  }

  .footer__adress {
    color: var(--main-section-cl);
    margin-bottom: 9px;
  }

  .footer__item {
    color: rgba(255, 255, 255, 0.6);
  }

  .footer__item:not(:last-child){
    margin-bottom: 9px;
  }

  .footer__socials{
    margin-right: 93px;
}

.footer__title{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-section-cl);
    margin-bottom: 20px;
    
}

.footer__icon {
    fill: var(--main-section-cl);
    

}
.footer__link{
    background: rgba(255, 255, 255, 0.1);
}
 */

    /*      FOOTER FORM       */

/* 
.form{
    display: flex;
    gap: 12px;
    display: flex;
    align-items: flex-end;
}

.form__title{
    display: block;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-section-cl);
    margin-bottom: 20px;
    
}
.form__mail{
    background-color: var(--main-section-bg-cl);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
}
.form__btn{
    background: var(--blue-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-family: var(--main-font);

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--main-section-cl);
    padding: 10px 28px;
    gap: 10px;
  }
 */


    /*     MODAL WINDOW      */



/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--time-function), visibility var(--time-function)
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
} */

/* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 528px;
    height: 581px;

    background-color: var(--main-section-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
 } */

/* .modal__btn {
    position: absolute;
    top: 14px;
    right: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--main-section-cl) ; 
    cursor: pointer;
}

.modal__btn:hover, .modal__btn:focus {
 fill: var(--blue-cl);
} */

/* 
.modal-form {
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

.modal-form__title{
    display: block;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;

}

 .modal-form__group {
    
    display: block;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: var(--second-cl);
    margin-bottom: 10px;
 }
 
 .modal-form__group:last-child {
    margin: 0px;

 }
 

 .modal-form__group .modal-form__imput{
    
    margin: 0;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
 }

 .modal-form__imput{
    width: 100%;
    padding-left: 42px;
    padding-right: 42px;
    outline: transparent;
    transition: border-color var(--time-function);
 }

 .modal-form__imput:focus, .modal-form__imput:hover{
    border-color: var(--blue-cl);
 }

 

 .modal-form__label{
    position: relative;
    display: block;
    margin-bottom: 4px;
 }

 .modal-form__text {
    display: block;
    margin-bottom: 4px;
 }

 .modal-form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: var(--time-function);
}

 
 .modal-form__imput:focus + .modal-form__icon,
 .modal-form__imput:hover + .modal-form__icon {
    fill: var(--blue-cl);
 }


 .coment {
    display: block;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    width: 100%;
    

 }

 .coment::placeholder{
    color: rgba(117, 117, 117, 0.5);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

 }
 */
/* 

 .checkbox {
    margin-bottom: 30px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: var(--second-cl);
 }

 .checkbox__label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}


 .checkbox__input:checked + .checkbox__icon .checkbox__icon-checked {
    opacity: 1;
 }

 .checkbox__icon-checked{
    opacity: 0;
    fill: var(--blue-cl);
    transition: var(--time-function);
 }

 .checkbox__input:checked + .checkbox__icon .checkbox__icon-unchecked {
    opacity: 0;
 }
 .checkbox__icon-unchecked {
    opacity: 1;
    transition: var(--time-function);
 }

 .checkbox-__selected {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: var(--second-cl);
    user-select: none;
}

.checkbox__link {
    color: var(--blue-cl);
} */
/* 
 .modal-form__btn {
    display: block;
    margin: 0 auto;
    padding: 10px 52px;
} */



/*     ПОРТФОЛІО     */



/*.container-portfolio{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;

   

}*/
/* 
.portfolio-menu {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-menu__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    background-color: var(--portfolio-btn-cl);
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;

    transition: background var(--time-function), color var(--time-function), box-shadow var(--time-function);

}

.portfolio-menu__btn:hover,
.portfolio-menu__btn:focus {
    background: var(--blue-cl);
    color: var(--main-section-cl);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   } */

/*     PORTFOLIO IMG      */

/* .portfolio{
    display: flex;
    flex-wrap: wrap;
    
}

.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);
    margin-bottom: 4px;
    font-style: normal;
    font-family: var(--main-font);
    
}

.portfolio__item{
    margin-right: 30px;
    margin-bottom: 30px;
       
}

.portfolio__item:nth-child(3n){
    margin-right: 0;
}

.porfolio-thumb{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 1px;
    left: 0;

    transform: translateY(100%);


    background-color: var(--overlay-cl);
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    
    display: flex;
    align-items: center;
    justify-items: center;

    transition: var(--time-function);
}

.portfolio__link:hover .portfolio-overlay, 
.portfolio__link:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-overlay__desc{
    color: var(--main-section-cl);
    font-family: var(--main-font);
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
}


.portfolio__text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--second-cl);
}

.portfolio__name {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-border-cl);
}

.portfolio__link {
    display: block;

    transition: box-shadow var(--time-function);
}

.portfolio__link:hover,
.portfolio__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */

  

